<section id="one">
    <div class="sectionone" id="pic1" style="height: 100vh;">
        <div class="container">
            <br><br><br><br><br>
            <h1 class="header center">DISCOVER NEW VENUES</h1>
            <div class="row center">
            </div><br><br><br>
              <div class="row center">
              <div class="container-search">
              <%= form_tag themes_path, :method => :get do %>
              <p>
                <%= text_field_tag :search, params[:search], placeholder: "Enter in a location" %>
                <%= submit_tag "Search", :name => nil, :class => "download-button"%>
              </p>
              <% end %>
              </div>
            </div>
            <br>  <br>
          </div>
      </div>
</section>

<section id="two">
    <div class="sectiontwo" style="height: 100vh;">
        <div class="container">
          <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <h5>  01 |</h5>
                    <p class="bold">Enter your location</p>
                    <p class="light">Enter your current location to discover new places, or a location that you are planning to travel to for new experiences</p>
              </div>

            <div class="col s12 m8">
                <div class="pic2"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="three">
    <div class="sectionthree" style="height: 100vh;">
      <div class="container">
        <div class="row">
            <div class="col s12 m4">
              <h5>02 |</h5>
                <p class="bold">Choose your theme</p>
                <br>
                <p class="light">Select from our four themes, each with our carefully selected places to ensure you have a fun night</p>
              </div>
              <div class="col s12 m8">
              <div class="pic3"></div>
                </div>
            </div>
          </div>
      </div>
</section>

</div>
<section id="four">
  <div class="sectionfour" style="height: 100vh;">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <h5>  03 |</h5>
            <p class="bold">View your selections</p>
            <br>
            <p class="light">Choose your favourties and save them to easily access them at any time</p>
          </div>
          <div class="col s12 m8">
          <div class="pic4"></div>
          </div>
        </div>
      </div>
    </div>
</section>
