//.sectionTwo = club_and_cocktails
//.sectionThree = wine_and_dine
//.sectionFour = pubs_and_pool
//.sectionFive = entertainment

//on click of #sectionTwo, load club_and_cocktails venues in the div with a class of .pic6
//on click of #sectionThree, load wine_and_dine venues in the div with a class of .pic7
//on click of #sectionFour, load pubs_and_pool venues in the div with a class of .pic8
//on click of #sectionFive, load entertainment venues in the div with a class of .pic9
var $baseVenueContent;

var showVenues = function ( data ) {
  console.log(data);

  var $whiteContainer = $( '<div class="whitebackground"></div>' );
  $baseVenueContent.append($whiteContainer)


  for (var i = 0; i < 6; i++) {
    console.log(i);
    var $p = $("<li></li>");
    var v = data.venues[i];
    console.log( v.image );
    var venueImage = $("<img>").attr("src", data.venues[i].image).addClass("thumbnail");
    // var background = $(".pic6").toggleClass.addClass("whitebackground")
    var $a = $('<a>').attr('href', "/venues/" + v.id).html("<br /><p>" + v.name + "</p>").prepend(venueImage);
    $p.html($a);



    $($whiteContainer).append( $p );
  };
};


$(document).ready(function () {
  var loadVenues = function (e) {

    if ( $(this).hasClass("completed") ) {
      return false;
    }
    $(this).addClass("completed");
    $baseVenueContent = $(this).parents('.sectiontwo').find(".pic6");
    $baseVenueContent.empty();
    console.log("AJAX JUST SENT");
    var desiredURL = $(this).parents('.sectiontwo').data("url");
      // e.preventDefault();
      $.ajax({
        url: desiredURL,
        dataType: "JSON",
        type: "GET"
      }).done(function(data){
        showVenues(data)
      });
    };
    $(".button2").on("click", loadVenues);
  });


  // var handler = Gmaps.build('Google');
  // handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
  //   var markers = handler.addMarkers([
  //     // { lat: 45, lng: 4},
  //     // { lat: 47, lng: 3.5},
  //     // { lat: 49, lng: 4},
  //     // { lat: 51, lng: 3.5}
  //   ]);
  //   handler.bounds.extendWith(markers);
  //   handler.fitMapToBounds();
  //   debugger;
  // });
