//.sectionTwo = club_and_cocktails
//.sectionThree = wine_and_dine
//.sectionFour = pubs_and_pool
//.sectionFive = entertainment


//on click of #sectionTwo, load club_and_cocktails venues in the div with a class of .pic6
//on click of #sectionThree, load wine_and_dine venues in the div with a class of .pic7
//on click of #sectionFour, load pubs_and_pool venues in the div with a class of .pic8
//on click of #sectionFive, load entertainment venues in the div with a class of .pic9
var $baseVenueContent;

var showVenues = function ( data ) {
  for (var i = 0; i < 6; i++) {
    console.log(i);
    var $p = $("<li></li>");
    var v = data.venues[i];
    $p.html('<a href="/venues/' + v.id + '">'+ v.name +'</a>');


    $($baseVenueContent).prepend( $p );
  };
};


$(document).ready(function () {
  var loadVenues = function (e) {
    $baseVenueContent = $(this).find(".pic6");
    var desiredURL = $(this).data("url");
      // e.preventDefault();
      $.ajax({
        url: desiredURL,
        dataType: "JSON",
        type: "GET"
      }).done(function(data){
        showVenues(data)
      });
    };
    $(".sectiontwo").on("click", loadVenues);
  });
