@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Hind:400,600|Asap|Cantarell|Droid+Sans+Mono|Sintony:400,700);
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:900,600,800); // PLEASE DO NOT TOUCH | DO NOT TOUCH | DO NOT TOUCH | DO NOT TOUCH | DO NOT TOUCH | DO NOT TOUCH | DO NOT TOUCH | DO NOT TOUCH | DO NOT TOUCH | DO NOT TOUCH |
/*font-family: 'Sintony', sans-serif;*/
// APPLICATION HTML ''''''''''''''''''''''''''''''''''''''''''''''''''''
body,
html {
    max-width: 100%;
    overflow-x: hidden;
}
.brand-logo {
    margin-left: 250px;
}
.container {
    width: auto;
}
footer.page-footer {
    margin-top: 0;
    background-color: #1a1b31;
    padding-top: 0;
}
.section {
    padding: 0;
    margin: 0;
}
// NAV ''''''''''''''''''''''''''''''''''''''''''''
.navbar-fixed {
    position: fixed;
}
.navigation {
    /*background-color:rgba(26, 27, 49, 0.5);*/
    background-color: rgba(26, 27, 49, 0.5);
    display: block;
    line-height: 80px;
    height: 90px;
    box-shadow: none;
}
.navigation p {
    color: white;
    font-family: 'Cantarell', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
}
nav a {
    margin-right: 100px;
    text-transform: uppercase;
}
section .innerText {
    transform: translate(-100px, -50%);
}
// SIDE NAVIGATION SQUARES
.pixel {
    margin: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #00cccc;
    opacity: 0.4;
}
.pixel.pixelbold {
    opacity: 1;
    margin: 20px;
    width: 20px;
    height: 20px;
    background: #00cccc;
}
.page-nav {
    position: fixed;
    top: 60%;
    right: 5%;
    z-index: 30;
}
//  LOGIN BUTTON
.link {
    // border: 2px solid #00cccc;
    padding: 15px; // color:#00cccc;
    color: #1a1b31;
    height: 50px;
    width: 150px;
    background-color: #00cccc;
    top: 8px;
    font-size: 13px;
    text-transform: uppercase;
    box-shadow: none;
    margin-left: 600px;
}
.navlogo {
    margin-left: 220px;
    font-size: 30px;
    margin-top:-10px;
}

.facebook {
float: right;
margin-right: 100px;
}
//  FOOTER '''''''''''''''''''''''''''''''''''''''
.grey-text {
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 50px;
}
.logo {
    margin-top: 20px;
    margin-left: 50px;
}
//  LOGIN ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
.button1 {
    margin-top: 10px;
    padding: 15px;
    // color:#00cccc;
    color: white;
    height: 50px;
    width: 300px;
    background-color: #00cccc;
    top: 8px;
    font-size: 13px;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    border: none;
}
.login:focus {
    outline: none;
}
.loginbutton {
    background-color: transparent;
    border: 2px solid #52667a;
    text-transform: uppercase;
    color: #52667a;
    font-size: 15px;
    padding: 10px;
}
.login {
    text-transform: uppercase;
    border-bottom: 2px solid #00cccc;
}
//  loginbutton
.loginform {
    text-align: center;
    width: 300px;
    margin: 200px auto auto;
}
.signupform {
    text-align: center;
    width: 300px;
    margin: 120px auto auto;
}

html body .facebook iframe {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  position: relative;
  top: -46px;
}
// IMAGES '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
#pic1 {
    background-image: image-url("gradient2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -20;
}
#pic5 {
    background-image: image-url("blurry1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -20;
}
.pic2 {
    background-image: image-url("ny.jpg");
    width: 1100px;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pic6 {
    // background-image: image-url("strawb.jpeg");
    width: 1000px;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pic3 {
    background-image: image-url("blueberry.jpg");
    width: 1000px;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pic7 {
    background-image: image-url("seafood.jpg");
    width: 1000px;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pic4 {
    background-image: image-url("lights.jpeg");
    width: 900px;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pic8 {
    background-image: image-url("pubs.jpeg");
    width: 800px;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.pic9 {
    background-image: image-url("entertainment.jpeg");
    width: 1100px;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*HEADINGS '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''*/
h1 {
    color: #33cccc;
    font-size: 50px;
}
//  Log in Sign up
h2 {
    color: #33cccc;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    float: left;
}
h4 {
    font-size: 15px;
    color: white;
    margin-left: 50px;
    text-transform: uppercase;
}
h5 {
    color: #33cccc;
    margin-left: 50px;
    margin-top: 165px;
    font-size: 55px;
    font-weight: 900px;
    font-family: 'Sintony', sans-serif;
}
//  VENUE NAMES
h6 {
    color: white;
    font-size: 50px;
    margin-left: 50px;
}
h7 {
    margin-left: 1000px;
    font-size: 8px;
}
.bold {
    font-size: 30px;
    color: #1a1b31;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.light {
    font-size: 16px;
    color: grey;
    margin-left: 50px;
    /*text-transform: uppercase;*/
}
#download-button {
    background-color: #33cccc;
}
//  SEARCH BUTTON - GEO LOCATION
.download-button {
    margin-top: 20px;
    margin-left: 70px;
    background-color: #33cccc;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    width: 150px;
    box-shadow: none;
    outline: none;
    border: none;
    text-align: center;
}
.container-search {
    text-align: center;
    width: 300px;
    display: inline-block;
}
// GEO SEARCH HOME PAGE
input:not([type]),
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
textarea.materialize-textarea {
    background-color: white;
    text-transform: uppercase;
}
// THEMES PAGE '''''''''''''''''''''''''''''''''''''''''''''''''
.buttonlayout {
    height: 50px;
    width: 500px;
    margin-top: 10px;
}
.button {
    //  vertical-align: middle;
    margin-left: 10px;
    // margin-top: 10px;
    padding: 18.5px;
    // color:#00cccc;
    color: white;
    height: 50px;
    width: 300px;
    background-color: #00cccc;
    top: 8px;
    font-size: 13px;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    border: none;
}
.button2 {
    //  vertical-align: middle;
    //  float: left;
    // margin-top: 10px;
    margin-left: 50px;
    padding: 15px;
    // color:#00cccc;
    color: white;
    height: 50px;
    width: 150px;
    background-color: #00cccc;
    top: 8px;
    font-size: 13px;
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    border: none;
}
.venuetopshow {
    width: 1000px;
    height: 100vh;
    background-color: white;
}
.whitebackground {
    padding-right: 150px;
    padding-top: 70px;
    background-color: white;
    width: 1000px;
    height: 100vh; //   position: relative;
}
.whitebackground li {
    display: block;
    list-style: none;
    // rows: 2;
    max-width: 800px;
    max-height: 400px; // display:table;
    float: left;
    width: 26%; // width: 80%;
    // padding: 5px;
    // padding-right: 10px;
    // top: 50%;
    // left: 50%;
    // -webkit-transform: translate(-50%, -50%);
    // -moz-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    // -o-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
}
.whitebackground li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #1a1b31;
    font-size: 13px;
}
.thumbnail {
    max-width: 210px;
    height: 150px;
    margin-top: 70px;
    margin-right: 5px;
    // position: absolute;
    // display: block;
}
//  VENUE PAGE ''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
.picvenue {
    height: 400px;
    width: 600px;
    background-size: 100% 100%;
    margin-top: 250px;
}
.box {
    margin-top: 100px;
    margin-left: 50px;
    height: 450px;
    width: 500px;
    background-color: #00cccc;
}
.widget {
    margin-left: 100px;
}
//  ALL VEUES '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
.map {
    // width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
}
.containerstyle {
    width: 700px;
    height: 500px;
}
